<div class="max-w-2xl mx-auto border-2 border-[#6EE7B7] rounded-xl">
  <p-card class="relative">
    <div class="mb-20">
      <div class="text-center text-[2rem] font-bold mb-5">Register</div>

      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="m-6">
        <p-iftalabel class="w-full mb-4">
          <label>First Name</label>
          <input pInputText type="text" formControlName="firstName" class="w-full">
          <small class="p-error" *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('required')">
            First Name is required.
          </small>
        </p-iftalabel>

        <p-iftalabel class="w-full mb-4">
          <label>Last Name</label>
          <input pInputText type="text" formControlName="lastName" class="w-full">
          <small class="p-error" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')">
            Last Name is required.
          </small>
        </p-iftalabel>

        <p-iftalabel class="w-full mb-4">
          <label>Email</label>
          <input pInputText type="email" formControlName="email" class="w-full">
          <small class="p-error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
            Email is required.
          </small>
          <small class="p-error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
            Invalid email format.
          </small>
        </p-iftalabel>

        <p-iftalabel class="w-full mb-4">
          <label>Password</label>
          <input pInputText type="password" formControlName="password" class="w-full">
          <small class="p-error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
            Password is required.
          </small>
        </p-iftalabel>

        <p-button type="submit" [disabled]="registerForm.invalid">Register</p-button>
      </form>
    </div>

    <p-button label="Cancel" variant="text" routerLink="/" severity="secondary"></p-button>
  </p-card>
</div>
