<div class="max-w-2xl mx-auto border-2 border-[#34D399] rounded-xl shadow-md shadow-[#34D399]">
  <p-card header="Update profile">
    <ng-template pTemplate="content">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-4">
        <p-floatlabel variant="on">
          <input type="text" pInputText id="on_label" fluid autocomplete="off" formControlName="firstName">
          <label for="on_label">First Name</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input type="text" pInputText id="on_label1" fluid autocomplete="off" formControlName="lastName">
          <label for="on_label1">Last Name</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input type="text" pInputText id="on_label2" fluid autocomplete="off" formControlName="email">
          <label for="on_label2">Email</label>
        </p-floatlabel>

        <button pButton pRipple type="submit">Submit</button>
      </form>

      <button pButton pRipple severity="secondary" (click)="visible = true" icon="pi pi-arrow-right" class="mt-4">Update
        profile
        picture
      </button>

      <p-drawer [(visible)]="visible" header="Update profile picture">
        <div class="flex items-center justify-center flex-col">
          <p-avatar [image]="accountService.currentUser()?.profile?.url" class="mr-2" size="xlarge"
                    shape="circle" styleClass="mb-5 border-2 border-gray-600"></p-avatar>

          <div class="flex items-center justify-center">
            <p-fileupload #fu mode="basic" chooseLabel="Browse" chooseIcon="pi pi-upload" name="profileImage[]"
                          [customUpload]="true" [auto]="true" accept="image/*" maxFileSize="1000000"
                          (uploadHandler)="onUploadImage($event)"/>
          </div>
        </div>
      </p-drawer>
    </ng-template>

    <p-toast key="br" position="bottom-right"></p-toast>
  </p-card>

</div>
